In [1]:
# Spark Session
from pyspark.sql import SparkSession

spark = (
    SparkSession
    .builder
    .appName("Working with Strings & Dates")
    .master("local[*]")
    .getOrCreate()
)

spark

In [2]:
data = [
(1,'Ankit',100,10000,4,39),
(2,'Mohit',100,15000,5,48),
(3,'Vikas',100,10000,4,37),
(4,'Rohit',100,5000,2,16),
(5,'Mudit',200,12000,6,55),
(6,'Agam',200,12000,2,14),
(7,'Sanjay',200,9000,2,13),
(8,'Ashish',200,5000,2,12),
(9,'Mukesh',300,6000,6,51),
(10,'Rakesh',500,7000,6,50),
]

In [3]:
columns=["emp_id", "emp_name","dept_id","salary", "manager_id", "emp_age"]

In [4]:
employee=spark.createDataFrame(data).toDF(*columns)

In [5]:
employee.show()

+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+
|     1|   Ankit|    100| 10000|         4|     39|
|     2|   Mohit|    100| 15000|         5|     48|
|     3|   Vikas|    100| 10000|         4|     37|
|     4|   Rohit|    100|  5000|         2|     16|
|     5|   Mudit|    200| 12000|         6|     55|
|     6|    Agam|    200| 12000|         2|     14|
|     7|  Sanjay|    200|  9000|         2|     13|
|     8|  Ashish|    200|  5000|         2|     12|
|     9|  Mukesh|    300|  6000|         6|     51|
|    10|  Rakesh|    500|  7000|         6|     50|
+------+--------+-------+------+----------+-------+

In [6]:
employee.printSchema()

root
 |-- emp_id: long (nullable = true)
 |-- emp_name: string (nullable = true)
 |-- dept_id: long (nullable = true)
 |-- salary: long (nullable = true)
 |-- manager_id: long (nullable = true)
 |-- emp_age: long (nullable = true)

In [7]:

data = [
(100,'Analytics'),
(200,'IT'),
(300,'HR'),
(400,'Text Analytics')
]

In [8]:
columns=["dep_id","dep_name"]

In [9]:
dept=spark.createDataFrame(data).toDF(*columns)

In [10]:
dept.show()

+------+--------------+
|dep_id|      dep_name|
+------+--------------+
|   100|     Analytics|
|   200|            IT|
|   300|            HR|
|   400|Text Analytics|
+------+--------------+

In [11]:
from pyspark.sql.functions import lit, expr, current_date

In [12]:
employee.show()

+------+--------+-------+------+----------+-------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|
+------+--------+-------+------+----------+-------+
|     1|   Ankit|    100| 10000|         4|     39|
|     2|   Mohit|    100| 15000|         5|     48|
|     3|   Vikas|    100| 10000|         4|     37|
|     4|   Rohit|    100|  5000|         2|     16|
|     5|   Mudit|    200| 12000|         6|     55|
|     6|    Agam|    200| 12000|         2|     14|
|     7|  Sanjay|    200|  9000|         2|     13|
|     8|  Ashish|    200|  5000|         2|     12|
|     9|  Mukesh|    300|  6000|         6|     51|
|    10|  Rakesh|    500|  7000|         6|     50|
+------+--------+-------+------+----------+-------+

In [49]:
from pyspark.sql.functions import current_date, date_sub, col, datediff, year

In [14]:
employee = employee.withColumn("dob", date_sub(current_date(), (col("emp_age") * 365).cast("int")))

### write a query to print emp name , their manager name and diffrence in their age (in days) for employees whose year of birth is before their managers year of birth

In [41]:
df_joined = (
    employee.alias("e1").join(employee.alias("e2"), on = (col("e1.manager_id") ==col("e2.emp_id")), how="inner")
    
    
)

In [42]:
df_joined.show()

+------+--------+-------+------+----------+-------+----------+------+--------+-------+------+----------+-------+----------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|       dob|emp_id|emp_name|dept_id|salary|manager_id|emp_age|       dob|
+------+--------+-------+------+----------+-------+----------+------+--------+-------+------+----------+-------+----------+
|     4|   Rohit|    100|  5000|         2|     16|2009-01-07|     2|   Mohit|    100| 15000|         5|     48|1977-01-15|
|     6|    Agam|    200| 12000|         2|     14|2011-01-07|     2|   Mohit|    100| 15000|         5|     48|1977-01-15|
|     7|  Sanjay|    200|  9000|         2|     13|2012-01-07|     2|   Mohit|    100| 15000|         5|     48|1977-01-15|
|     8|  Ashish|    200|  5000|         2|     12|2013-01-06|     2|   Mohit|    100| 15000|         5|     48|1977-01-15|
|     1|   Ankit|    100| 10000|         4|     39|1986-01-13|     4|   Rohit|    100|  5000|         2|     16|2009-01-07|
|     3|   Vikas|    100| 10000|         4|     37|1988-01-13|     4|   Rohit|    100|  5000|         2|     16|2009-01-07|
|     2|   Mohit|    100| 15000|         5|     48|1977-01-15|     5|   Mudit|    200| 12000|         6|     55|1970-01-17|
|     5|   Mudit|    200| 12000|         6|     55|1970-01-17|     6|    Agam|    200| 12000|         2|     14|2011-01-07|
|     9|  Mukesh|    300|  6000|         6|     51|1974-01-16|     6|    Agam|    200| 12000|         2|     14|2011-01-07|
|    10|  Rakesh|    500|  7000|         6|     50|1975-01-16|     6|    Agam|    200| 12000|         2|     14|2011-01-07|
+------+--------+-------+------+----------+-------+----------+------+--------+-------+------+----------+-------+----------+

In [56]:
emp_details = (
    df_joined.where(year(col("e1.dob")) < year(col("e2.dob")))
    
)

In [57]:
emp_details.show()

+------+--------+-------+------+----------+-------+----------+------+--------+-------+------+----------+-------+----------+
|emp_id|emp_name|dept_id|salary|manager_id|emp_age|       dob|emp_id|emp_name|dept_id|salary|manager_id|emp_age|       dob|
+------+--------+-------+------+----------+-------+----------+------+--------+-------+------+----------+-------+----------+
|     1|   Ankit|    100| 10000|         4|     39|1986-01-13|     4|   Rohit|    100|  5000|         2|     16|2009-01-07|
|     3|   Vikas|    100| 10000|         4|     37|1988-01-13|     4|   Rohit|    100|  5000|         2|     16|2009-01-07|
|     5|   Mudit|    200| 12000|         6|     55|1970-01-17|     6|    Agam|    200| 12000|         2|     14|2011-01-07|
|     9|  Mukesh|    300|  6000|         6|     51|1974-01-16|     6|    Agam|    200| 12000|         2|     14|2011-01-07|
|    10|  Rakesh|    500|  7000|         6|     50|1975-01-16|     6|    Agam|    200| 12000|         2|     14|2011-01-07|
+------+--------+-------+------+----------+-------+----------+------+--------+-------+------+----------+-------+----------+

In [60]:
emp_final=(
    emp_details
    .select(
        col("e1.emp_name"),
        col("e2.emp_name").alias("Manager_name"), 
        datediff(col("e2.dob"), col("e1.dob")).alias("diff_in_days")
    )
)

In [61]:
emp_final.show()

+--------+------------+------------+
|emp_name|Manager_name|diff_in_days|
+--------+------------+------------+
|   Ankit|       Rohit|        8395|
|   Vikas|       Rohit|        7665|
|   Mudit|        Agam|       14965|
|  Mukesh|        Agam|       13505|
|  Rakesh|        Agam|       13140|
+--------+------------+------------+

### write a query to find subcategories who never had any return orders in the month of november (irrespective of years)

In [85]:

# Create the `orders` DataFrame
orders_data = [
    (1, "Electronics", "2023-11-05"),
    (2, "Furniture", "2023-11-15"),
    (3, "Electronics", "2023-10-10"),
    (4, "Furniture", "2023-11-20"),
    (5, "Clothing", "2023-11-25"),
    (6, "Clothing", "2023-12-01"),
]
orders_columns = ["order_id", "sub_category", "order_date"]

orders_df = spark.createDataFrame(orders_data, schema=orders_columns)

In [86]:

# Create the `returns` DataFrame
returns_data = [
    (1, "Defective"),
]
returns_columns = ["order_id", "return_reason"]

returns_df = spark.createDataFrame(returns_data, schema=returns_columns)

In [88]:
orders_returns_joined_df=orders_df.alias("o").join(returns_df.alias("r"), on=(col('o.order_id') == col('r.order_id')), how="left")

In [93]:
orders_returns_joined_df.sort(col("sub_category"), col("order_date")).show()

+--------+------------+----------+--------+-------------+
|order_id|sub_category|order_date|order_id|return_reason|
+--------+------------+----------+--------+-------------+
|       5|    Clothing|2023-11-25|    null|         null|
|       6|    Clothing|2023-12-01|    null|         null|
|       3| Electronics|2023-10-10|    null|         null|
|       1| Electronics|2023-11-05|       1|    Defective|
|       2|   Furniture|2023-11-15|    null|         null|
|       4|   Furniture|2023-11-20|    null|         null|
+--------+------------+----------+--------+-------------+

### Subcategories with zero returned orders.

In [96]:
from pyspark.sql.functions import count
(
    orders_returns_joined_df
    .groupby("sub_category")
    .agg(count("return_reason").alias("return_count"))
    .where(col("return_count")==0)
    .select("sub_category", "return_count").show()
)

+------------+------------+
|sub_category|return_count|
+------------+------------+
|    Clothing|           0|
|   Furniture|           0|
+------------+------------+

### subcategories with zero returned orders in November

In [100]:
orders_returns_joined_df.select(month(col("order_date"))).show()

+-----------------+
|month(order_date)|
+-----------------+
|               11|
|               10|
|               11|
|               12|
|               11|
|               11|
+-----------------+

In [103]:
from pyspark.sql.functions import month
november_returned_orders_df=(
    orders_returns_joined_df
    .where(month(col("order_date"))==11)
)

In [106]:
november_returned_orders_df.orderBy("sub_category").show()

+--------+------------+----------+--------+-------------+
|order_id|sub_category|order_date|order_id|return_reason|
+--------+------------+----------+--------+-------------+
|       5|    Clothing|2023-11-25|    null|         null|
|       1| Electronics|2023-11-05|       1|    Defective|
|       2|   Furniture|2023-11-15|    null|         null|
|       4|   Furniture|2023-11-20|    null|         null|
+--------+------------+----------+--------+-------------+

In [110]:
(
    november_returned_orders_df
    .groupby("sub_category")
    .agg(count("return_reason").alias("return_reason_count"))
    .where(col("return_reason_count")==0)
    .show()
    
    
)

+------------+-------------------+
|sub_category|return_reason_count|
+------------+-------------------+
|    Clothing|                  0|
|   Furniture|                  0|
+------------+-------------------+