In [88]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.datasets import load_digits

In [89]:
digits = load_digits()

In [90]:
x = digits.data

In [91]:
import pandas as pd
pd.DataFrame(x)
# pd.DataFrame(y)

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1792,0.0,0.0,4.0,10.0,13.0,6.0,0.0,0.0,0.0,1.0,...,4.0,0.0,0.0,0.0,2.0,14.0,15.0,9.0,0.0,0.0
1793,0.0,0.0,6.0,16.0,13.0,11.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,6.0,16.0,14.0,6.0,0.0,0.0
1794,0.0,0.0,1.0,11.0,15.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,9.0,13.0,6.0,0.0,0.0
1795,0.0,0.0,2.0,10.0,7.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,5.0,12.0,16.0,12.0,0.0,0.0
1796,0.0,0.0,10.0,14.0,8.0,1.0,0.0,0.0,0.0,2.0,...,8.0,0.0,0.0,1.0,8.0,12.0,14.0,12.0,1.0,0.0

In [92]:
y = digits.target

### Train Test split

In [93]:
x_train,   x_test,  y_train,y_test= train_test_split(x, y, test_size=0.3)

In [94]:
lr = LogisticRegression(max_iter=1000000).fit(X=x_train, y=y_train)

In [95]:
lr.score(x_test, y_test)

0.9629629629629629

##### Observations:

Train_test_split will not produce the same score on every time. If the test/train data size changes, then model score changes for sure.

### K Fold Cross Validation:

In [96]:
from sklearn.model_selection import KFold

In [97]:
lr = LogisticRegression(max_iter=10000)
rf = RandomForestClassifier(n_estimators=40)

In [98]:
def get_Score(model, x_train,x_test, y_train, y_test):
    model.fit(x_train, y_train)
    return model.score(x_test, y_test)

In [99]:
kf = KFold()
score_lr = []
for train_index, test_index in kf.split(X=x):
    x_train, x_test, y_train, y_test = digits.data[train_index], digits.data[test_index], digits.target[train_index], digits.target[test_index]
    score_lr.append(get_Score(lr, x_train, x_test, y_train, y_test))

In [100]:
score_lr

[0.9305555555555556,
 0.8777777777777778,
 0.9415041782729805,
 0.9387186629526463,
 0.8997214484679665]

#### Stratified KFold:

Stratified sampling maintains the same class ratio throughout the K folds as the ratio in the original dataset.

In [101]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/plotly/datasets/master/diabetes.csv")

In [102]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [103]:
(sum(df['Outcome']/len(df['Outcome'] * 100))*100)

34.89583333333326

In [106]:
x = df.drop(columns=['Outcome'])
y = df['Outcome']

In [108]:
model = LogisticRegression(solver='newton-cg')

##### Approximately 35% of the patients are suffering with Diabetes.

In [109]:
stf = StratifiedKFold(n_splits=10)

In [110]:
def training(train, test, fold_no):
  x_train = train.drop(['Outcome'], axis=1)
  y_train = train.Outcome
  x_test = test.drop(['Outcome'], axis=1)
  y_test = test.Outcome
  model.fit(x_train, y_train)
  score = model.score(x_test, y_test)
  print('For Fold {} the accuracy is {}'.format(str(fold_no), score))

In [113]:
fold_no = 1
for train_index, test_index in stf.split(x, y):
    train = df.iloc[train_index,: ]
    test = df.iloc[test_index,:]
    training(train, test, fold_no)
    fold_no += 1

For Fold 1 the accuracy is 0.7272727272727273
For Fold 2 the accuracy is 0.7792207792207793
For Fold 3 the accuracy is 0.8051948051948052
For Fold 4 the accuracy is 0.7142857142857143
For Fold 5 the accuracy is 0.7532467532467533
For Fold 6 the accuracy is 0.7662337662337663
For Fold 7 the accuracy is 0.8051948051948052
For Fold 8 the accuracy is 0.8051948051948052
For Fold 9 the accuracy is 0.75
For Fold 10 the accuracy is 0.8289473684210527